@use "sass:math";
@import url(normalize.css);

/* Font families and weight: */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.borde {
  outline: 1px solid red;
}

/* Variables: */
$moderate-cyan: hsl(224, 93%, 58%);
$padding-x: 2.7em;

/* Mixing */
@mixin font($font-s) {
  font-size: $font-s;
}

body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10em;
  grid-template-rows: auto auto;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;

  padding-right: $padding-x;
  padding-left: $padding-x;
  padding-bottom: 1em;
  justify-content: center;

  .header {
    display: grid;
    grid-template-columns: auto 24em;

    font-family: "Raleway", sans-serif;
    font-weight: 400;

    width: 100%;

    .header__logo {
      margin-bottom: 0;
    }

    .header__nav {
      display: grid;
      grid-auto-flow: column;

      align-content: end;
      text-align: center;

      .header__tabs {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .main__section-1 {
    $max-h: 44em;
    $row-h: min-content;

    max-height: $max-h;

    display: grid;
    grid-template-rows: $row-h $row-h $row-h $row-h $row-h;
    grid-template-columns: 40% auto;
    justify-content: center;

    .section-1__title {
      grid-area: 2/1 / 3/2;
      @include font(math.div(32em, 16));
    }

    .section-1__description {
      grid-area: 3/1 / 4/2;
      @include font(math.div(22em, 16));
    }

    .section-1__form {
      grid-area: 4/1 / 5/2;
    }

    .section-1__image {
      grid-area: 1/2 / 6/3;
    }

    .section-1__image > * {
    }
  }

  .main__section-1 > * {
    margin: 0;
  }

  input[type="button"] {
    background-color: $moderate-cyan;
    border-style: none;
    color: white;
  }
}

/*  .ob {
    color: hsl(238, 22%, 44%);
    color: hsl(243, 87%, 12%);
    color: hsl(224, 93%, 58%);
    color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    color: hsl(0, 0%, 75%);
    
} */

/*  .container {

    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto;
    height: 400px;
    margin-top: 200px;
    background-color: green;


    .caja-1 {
        grid-area: 1/1 / 2/2;

    }

    .caja-2 {
        grid-area: 2/1 / 3/2;

    }

    .caja-3 {
        grid-area: 3/1 / 4/2;


    }

    .caja-4 {
        grid-area: 1/2 / 4/3;

    }
} */

/* .container>* {
    background-color: gold;
    outline: 2px solid black;

} */
